- active_nav_item :home
- @full_header = true
- @page_title = 'Welcome'

#owl-demo.owl-carousel.owl-theme
  .item
    = image_tag("bm_slide.jpg", :alt => "British Mongrel Collection")
  .item
    = image_tag("fullimage1.jpg", :alt => "Colour It Up - 80s Style")
  .item
    = image_tag("fullimage2.jpg", :alt => "Modern Fashion For The Retro At Heart")
  .item
    = image_tag("fullimage3.jpg", :alt => "Modern Retro - Love it - Live It")
:javascript
  $(".owl-carousel").owlCarousel({ navigation : false, autoPlay : 5000, pagination : false, singleItem:true });

.home
  %p.browse= link_to "Browse our whole catalogue", catalogue_path
  %br
  %h2 Introducing some of our featured products

= render 'shared/product_list', :products => @products
