!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    - set_meta_tags description: 'Your online store for all your Retro Lifestyle Essentials. We take the best of retro cool and create modern products which look great and feel great too.', keywords: 'Retro, cool, vintage, lifestyle, nostalgia, 60s, the 60s, 1960s, 1960&#039;s, the 60&#039;s, 70s, the 70s, 1970s, 1970&#039;s, the 70&#039;s, 80s, the 80s, 1980s, 1980&#039;s, the 80&#039;s,'
    = display_meta_tags site: "POP! Tees"
    %title #{@page_title} - #{Shoppe.settings.store_name}
    = stylesheet_link_tag :application
    = stylesheet_link_tag :flexbox
    = javascript_include_tag :application
    = csrf_meta_tags
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <meta property="fb:admins" content="746548363" />
    <meta property="fb:app_id" content="1554515258198525" />
    <meta property="og:url" content="#{request.original_url}" />
    -if request.path.start_with?('/products')
      <meta property="og:type" content="product" />
      <meta property="og:image" content="http://www.poptees.uk#{@product.default_image.path}" />
      <meta property="og:title" content="#{@product.name}" />
    = yield :head
  %body

    / The main header displayed on all pages
    / Sometimes will be shorted as the page content dictates.
    %header.main{:class => @full_header ? 'full' : 'basic'}
      .innerhead
        / Primary navigation
        %nav.main
          %ul
            %li= link_to image_tag('poptees.png', width: '160'), root_path
            %li= link_to "Home", root_path, :nav_item => :home
            %li
              = link_to "Our collections", catalogue_path, :nav_item => :catalogue, :class => 'noborder'
              %ul
                - for category in Shoppe::ProductCategory.ordered
                  %li= link_to category.name, products_path(category.permalink)
            %li= link_to "Why shop with us?", page_path(:why), :nav_item => :why
            %li= link_to "FAQs", page_path(:faqs), :nav_item => :shipping
            %li= link_to "Shipping", page_path(:shipping), :nav_item => :faqs
            %li= link_to "Get in touch", contacts_path, :nav_item => :contact
            %li= link_to "View my bag", basket_path, :nav_item => :bag
        - if @full_header
          %h2 Retro lifestyle essentials

      - if @full_header
        .bar
          .innerhead
            %p.call Call us today on <b>0151 200 0343</b> if you have any questions.

    / Main content section
    %section.content
      .inner

        / Sidebar
        %section.sidebar
          - if content_for?(:sidebar)
            = yield :sidebar
          - else
            = render 'shared/basket'
            = render 'shared/reasons'

        / Primary section
        %section.primary
          = yield

    / Footer
    %footer.main
      .inner

        / Useful footer links (policies etc...)
        %ul.links
          %li= link_to "Terms & Conditions", page_path(:terms)
          %li= link_to "Privacy policy", page_path(:privacy)
          %li= link_to "Returns policy", page_path(:returns)
          %li= link_to "Frequently asked questions", page_path(:faqs)
          %li= link_to "Cookie policy", page_path(:cookies)

        .callUs
          %p Got any questions? Call us today:
          %p.number 0151 200 0343
          %p 24 Hour Answerphone.

          / Links to social media
          %ul.social
            %li.twitter= link_to "Twitter", 'http://twitter.com/rewindfans_com'
            %li.facebook= link_to "Facebook", "https://www.facebook.com/poptees.uk"
            //%li.pinterest= link_to "Pinterest", "http://pinterest.com"
            //%li.linkedin= link_to "Linked In", "http://linkedin.com"
            //%li.vimeo= link_to "Vimeo", "http://vimeo.com"
            //%li.youtube= link_to "Youtube", "http://youtube.com"
            %li.googleplus= link_to "Google Plus", "https://plus.google.com/b/117927724358118233705/"

        / Copyright & trademark information
        .copyright
          %p &copy; #{Date.today.year} PopTees. All Rights Reserved.
          %p All third party logos &amp; product images &copy; their respective owners.
          %p
            Pop Tees is a trading name of <br/>
            Barry Denson,  <br/>
            47 Withens Lane,  <br/>
            Wallasey,  <br/>
            Merseyside CH44 1BB.<br />
